@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  /* font-family: 'Raleway', Arial, sans-serif; */
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #b5d5ca;

  /* background-color: black; */
}

#app {
  height: 100%;
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}





/* Navbar */

#navbar {
  align-self: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1rem;
  font-size: 2rem;
  /* color:#b5d5ca; */
}

/* General */

.title {
  font-family: 'Bebas Neue', sans-serif;
  margin-left: 5%;
  margin-bottom: 0;
  
}

.plants {
  height: 10rem;
  padding-top:5px;
  padding-bottom:2px
}

/* flex-direction */

#flexRow {
  border: 4px solid black;
  border-radius: 5px;
  padding:5px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

#flexColumn {
  border: 4px solid black;
  border-radius: 5px;
  padding:5px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#flexColumn img {
  width:10rem;
  
}

#flexDirection {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

/* Justify-content */

#jcFlexStart {
  border: 4px solid black;
  border-radius: 5px;
  padding:5px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

#jcFlexEnd {
  border: 4px solid black;
  border-radius: 5px;
  padding:5px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Media */
@media screen and (max-width: 1200px){
  .plants {
    height:7rem;
  }

  /* #flexRow {
    margin-left: 0%;
    margin-right: 20%;
  } */

  /* #flexColumn {
    margin-left: 40%;
    margin-right: 40%;
  } */

  #flexColumn img {
    width:7rem;
    
  }
}





